
.sidebar {
    padding-top: 2%;
    padding-left: 5%;
    float: left;
    width: 30%;
}

.cartbar {
    padding-top: 2%;
    padding-left: 5%;
    float: right;
    width: 70%;
}

.editable {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px dotted;
}

.fullwidth {
    width: 100%;
}

.smallwidth {
    width: 70%;
}

.price-area {
    width: 100%;
    padding-left: 5%;
    padding-top: 1%;
    float:inline-end
}

.price-area-table {
    padding: 5px;
}