#panels {
    margin: auto;
    text-align: center;
}

.buy-panel {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10px;
    padding: 1%;
    background-color: rgb(220, 255, 220);
    border: 1px solid black;
    border-radius: 10px;
}

#buy-side {
    display: inline-block;
    margin: auto;
    width: 45em;
}

#sell-side {
    display: inline-block;
    margin: auto;
    width: 45em;
}

.sell-panel {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10px;
    padding: 1%;
    background-color: rgb(255, 211, 154);

    border: 1px solid black;
    border-radius: 10px;
}

.table-title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.fullwidth {
    width: 100%;
}

.small {
    font-size: small;
}

.unbold {
    font-weight: normal;
}

td {
    padding-top: 1%;
}

.monetary {
    text-align: center;
}

#summary {
    clear: both;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid black;
}

#summary-value-received {
    width: 40%;
}

#summary-percentage {
    width: 20%
}

#summary-value-given {
    width: 40%
}

#sell-error {
    text-align: center;
}

#submit {
    text-align: center;
}

#mode-selector {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 43%;
    margin-left: 43%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid black;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    #summary {
        background-color: rgb(121, 113, 0);
    }

    .buy-panel {
        background-color: rgb(0, 66, 0);
    }

    .sell-panel {
        background-color: rgb(148, 71, 0);
    }
    
    #mode-selector {
        border: 1px solid white
    }
}
