input[type="text"] {
    display: block;
    margin: auto;
}

td {
    padding-bottom: 1%;
}

.fullwidth {
    width: 100%
}

#main-interface {
    padding-left: 30%;
    padding-right: 30%;
}

#page-title {
    text-align: center;
    margin-bottom: 5%;
}

.section-title {
    text-align: center;
    padding-bottom: 1%;
}

.management-section {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5%;
}

#user-adder {
    width: 80%;
    padding: 5%;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    .management-section {
        border-color: white;
    }

}
