.green-button {
    background-color: rgb(0, 248, 0);
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    display: inline;
    padding: 5px;
}

.green-button:hover {
    background-color: rgb(165, 253, 165);
}

.green-button:active {
    background-color: rgb(86, 241, 86);
}

.white-button {
    background-color: rgb(255,255,255);
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    display: inline;
    padding: 5px;
    color: black;
}

.white-button:hover {
    background-color: rgb(200,200,200);
}

.white-button:active {
    background-color: rgb(120,120,120);
}

.blue-button {
    background-color: rgb(55, 85, 253);
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    display: inline;
    color: white;
    padding: 5px;
}

.blue-button:hover {
    background-color: rgb(82, 107, 248);
}

.blue-button:active {
    background-color: rgb(38, 70, 252);
}

.red-button {
    background-color: rgb(255, 43, 43);
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    display: inline;
    color: white;
    padding: 5px;
}

.red-button:hover {
    background-color: rgb(245, 96, 96);
}

.red-button:active {
    background-color: rgb(119, 0, 0);
}

.orange-button {
    background-color: rgb(255, 123, 0);
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    display: inline;
    color: white;
    padding: 5px;
}

.orange-button:hover {
    background-color: rgb(255, 144, 53);
}

.orange-button:active {
    background-color: rgb(183, 82, 0);
}

.back-button {
    display: flex;
    width: 100%;
    clear: both;
    margin-bottom: 1em;
}

.disabled-button {
    background-color: rgb(206, 206, 206);
    width: fit-content;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    display: inline;
    padding: 5px;
    color: grey;
}

@media (prefers-color-scheme: dark) {
    .disabled-button {
        background-color: grey;
        color: rgb(90, 90, 90);
    }
}