body, .button {
    font-family: "Overpass", sans-serif;
    font-size: large;
    margin: 20px;
}

input[type="submit"], button {
    font-family:  "Overpass", sans-serif;
    font-size: large;
}

input, select {
    font-family:  "Overpass", sans-serif;
    font-size: large;
}

label {
    padding-right: 1%;
}

a {
    text-decoration: none;
}

#page-title {
    text-align: center;
    font-size: 250%;
}

.no-edge {
    margin-left: 10%;
    margin-right: 10%;
}

.error-text {
    color: red;
}

.big-input {
    font-size: x-large;
}

.editable {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed;
}

.numeric-input {
    width: 4.5em
}

.single-product-displayer {
    padding: 5px;
}

table.single-product-displayer {
    width: 50%;
}
